// Site colours:
$cashmere: #e8caab;
$pewter: #91a99c;
$dark-pewter: #536b5e;
$lily: #d4b1c5;
$voodoo: #503554;

body {
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
}


a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: $voodoo;
}

/* visited link */
a:visited {
    color: $voodoo;
}

/* mouse over link */
a:hover {
    color: $lily;
}

/* selected link */
a:active {
    color: $lily;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

button {
    padding: 2%;
    border-radius: 25px;
    border: solid 1px $cashmere;
    background-color: $cashmere;
    color: $voodoo;
    font-size: 1rem;
    margin-top: 4vh;
}

.nav {
    width: 100vw;
    position: fixed;
    top: -2%;
    background-color: white;
    z-index: 100;
    letter-spacing: 0.3rem;

    ul {

        font-size: 0.8rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
        padding: 0 20% 0 20%;

        li {
            color: $voodoo;
            padding: 2%;
            border-radius: 50px;
            margin: -1%;
            list-style-type: none;
            font-size: 1.6rem;
        }
    }
}

#heading h2 {
    display: flex;
    justify-content: center;
    padding: 10vh 0 0vh 0;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
}

//  INTRO
.intro {
    height: 90vh;
    margin-top: 20vh;
}

.bio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    margin: 0 10% 0 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .mobile-bio-img {
        display: none;
    }

    .img {
        background-image: url('./assets/images/WDFT_-_Jenn_Blunt.jpg');
        height: 45vh;
        width: 45vh;
        background-size: cover;
        border-radius: 250px;
        border: 3px solid $pewter;
    }

    .img:hover {
        background-image: url('./assets/images/jenn-and-hank.JPG');
    }

    h1 {
        color: $dark-pewter;
        font-size: 2.5rem;
        margin-top: -1%;
    }

    h2 {
        font-size: 1.4rem;
    }

    .bio_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40vw;
        color: $dark-pewter;
        font-size: 1.5rem;
    }

    #jenn-fact {
        width: 40vw;
        height: 5vh;
        margin: 0;
    }

}



// PROJECTS

.projects {
    background-color: $pewter;
}

.card-contaner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}


.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    height: 50vh;

    img {
        height: 40vh;
        border-radius: 15px;
    }

    .project-details {
        position: relative;
        width: 32vw;
        text-align: center;
        top: 5%;

        summary {
            font-size: 1.3rem;
            margin-bottom: 2%;
        }
    }

    details>summary {
        list-style-type: "☞ ";
        letter-spacing: 2px;
        color: $voodoo;
    }


    .project_tags {
        color: $dark-pewter;
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
        margin: 5px;
    }

    .project_button {
        margin-top: 5px;
        width: 8vw;
    }

    p {
        margin: 5px;
    }

}


#last {
    margin-bottom: 18vh;
}


.project_button {
    padding: 2% 5% 2% 5%;
    border-radius: 25px;
    background-color: $dark-pewter;
    font-size: 1rem;
    border: none;

    a {
        color: $cashmere;
    }
}


// TOOLS

.tools {
    height: 40vh;


    h2 {
        color: $lily;
    }

    .logos {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 5vh 0 10vh 0;

        img {
            height: 8vh;
            margin: 1%;
        }
    }
}

// EDUCATION

.education {
    display: flex;
    // border-radius: 30px;
    background-color: $cashmere;
    padding: 2vw;
    margin-top: 10vh;

    .edu_card {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 3vw;
        // border-radius: 30px;
        padding: 3%;
        // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    }
}


//  EMAIL

.email {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10vh;
    padding-bottom: 10vh;
    background-color: $cashmere;

    h2 {
        color: $voodoo;
    }

    .hello {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input,
    textarea {
        width: 30vw;
        font-size: 1.2rem;
        border: none;
        border: 1px solid $lily;
        border-radius: 5px;
        padding: 3%;
    }

    textarea {
        height: 12vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    .email-send {
        padding: 2% 5% 2% 5%;
        border-radius: 25px;
        border: none;
        background-color: $voodoo;
        color: $lily;
        font-size: 1rem;

        ::placeholder {
            margin: 5px;
        }
    }

    ::placeholder {
        color: $voodoo;
    }

}

.footer {
    text-align: center;
    font-size: 1rem;
    background-color: $cashmere;
    color: $dark-pewter;
    padding: 3vh;
}


@media screen and (min-width: 325px) and (max-width: 425px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        position: fixed;
        z-index: 100;
        padding: 5%;
        color: $voodoo;
        background-color: white;
        width: 100%;
        font-size: 1.2rem;

        summary {
            list-style-type: none;
        }

        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 2%;
        }

        li {
            padding: 2%;
            margin: 0;
        }
    }

    .intro {
        margin-top: 37vh;
    }

    .bio {
        // margin-top: 30vh;
        display: flex;
        flex-direction: column;

        .img {
            display: none;
        }

        .mobile-bio-img {
            display: flex;
            height: 25vh;
            background-size: cover;
            border-radius: 50%;
            border: 3px solid $pewter;
            margin: 5vh;
        }

        .bio_text {
            width: 80vw;
            display: flex;


            h1 {
                font-size: 1.8rem;
            }

            p {
                font-size: 1.1rem;
            }

            h2 {
                font-size: 1.2rem;
            }

            #jenn-fact {
                width: 80vw;
                height: 7vh;
            }

            button {
                padding: 3%;
            }
        }
    }

    #heading h2 {
        padding-top: 3vh;
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 2vh;
    }

    .project-card {
        // display: flex;
        // flex-direction: row;

        img {
            width: 80vw;
            height: auto;
        }

        .project-details {
            width: 85vw;
        }

        .project_tags {
            font-size: 1rem;
        }

        .project_button {
            width: 30vw;
            margin: 1%;
        }
    }

    .tools {
        .logos {
            width: 85vw;
            margin: 5%;

            img {
                height: 7vh;
                padding: 1%;
            }
        }


    }

    .email {

        input,
        textarea {
            width: 75vw;
        }

        .email-send {
            margin-top: 0;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 324px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
        position: fixed;
        z-index: 100;
        padding: 5%;
        color: $voodoo;
        background-color: white;
        width: 100%;
        font-size: 1.2rem;

        summary {
            list-style-type: none;
        }

        ul {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 2%;
        }

        li {
            font-size: 1rem;
            padding: 2%;
        }
    }

    .intro {
        margin-top: 32vh;
    }

    .bio {
        // margin-top: 30vh;
        display: flex;
        flex-direction: column;

        .img {
            display: none;
        }

        .mobile-bio-img {
            display: flex;
            height: 25vh;
            background-size: cover;
            border-radius: 50%;
            border: 3px solid $pewter;
            margin: 5vh;
        }

        .bio_text {
            width: 80vw;
            display: flex;


            h1 {
                font-size: 1.6rem;
            }

            p {
                font-size: 1rem;
            }

            h2 {
                font-size: 1.1rem;
            }

            #jenn-fact {
                width: 80vw;
                height: 7vh;
            }

            button {
                padding: 3%;
            }
        }
    }

    #heading h2 {
        padding-top: 3vh;
        font-size: 1.5rem;
        text-align: center;
        padding-bottom: 2vh;
    }

    .project-card {
        // display: flex;
        // flex-direction: row;

        img {
            width: 80vw;
            height: auto;
        }

        .project-details {
            width: 85vw;
        }

        .project_tags {
            font-size: 1rem;
        }

        .project_button {
            width: 35vw;
            margin: 1%;
            padding: 3%;
        }
    }

    .tools {
        .logos {
            width: 85vw;
            margin: 5%;

            img {
                height: 6vh;
                padding: 1%;
            }
        }


    }

    .email {

        input,
        textarea {
            width: 72vw;
        }

        .email-send {
            margin-top: 0;
        }
    }
}