// Site colours:
$cashmere: #e8caab;
$pewter: #91a99c;
$dark-pewter: #536b5e;
$lily: #d4b1c5;
$voodoo: #503554;

body {
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;


}

// section {
//     padding-top: 10vh;
// }

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: $voodoo;
}

/* visited link */
a:visited {
    color: $voodoo;
}

/* mouse over link */
a:hover {
    color: $lily;
}

/* selected link */
a:active {
    color: $lily;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


.nav {
    width: 100vw;
    position: fixed;
    top: -2%;
    background-color: white;
    z-index: 100;
    letter-spacing: 0.3rem;

    ul {

        font-size: 0.8rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 12vh;
        padding: 0 20% 0 20%;


        li {
            // background-color: $voodoo;
            color: $voodoo;
            padding: 2%;
            border-radius: 50px;
            margin: -1%;
            list-style-type: none;
            font-size: 1.6rem;
        }
    }
}

#heading h2 {
    display: flex;
    justify-content: center;
    padding: 10vh 0 0vh 0;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: 400;
}

//  INTRO
.intro {
    height: 90vh;
    margin-top: 20vh;
}

.bio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    margin: 0 10% 0 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .img {
        background-image: url('./assets/images/WDFT_-_Jenn_Blunt.jpg');
        height: 40vh;
        width: 40vh;
        background-size: cover;
        border-radius: 250px;
        border: 3px solid $pewter;
    }

    .img:hover {
        background-image: url('./assets/images/jenn-and-hank.JPG');
    }

    h1 {
        color: $dark-pewter;
        font-size: 2.5rem;
        margin-top: -1%;
    }

    h2 {
        font-size: 1.4rem;
    }

    .bio_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 40vw;
        color: $dark-pewter;
        font-size: 1.5rem;
        // line-height: 1.2rem;
    }

    #jenn-fact {
        width: 40vw;
        height: 5vh;
        margin: 0;
    }

    button {
        padding: 2%;
        border-radius: 25px;
        border: solid 1px $cashmere;
        background-color: $cashmere;
        color: $voodoo;
        font-size: 1rem;
        margin-top: 4vh;
    }

}



// PROJECTS

.projects {
    background-color: $pewter;
}

.card-contaner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
}


.project-card {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin: 4%;
    height: 50vh;


    img {
        height: 40vh;
        border-radius: 15px;
    }

    .project-details {
        position: relative;
        width: 32vw;
        text-align: center;
        top: 5%;

        summary {
            font-size: 1.3rem;
            margin-bottom: 2%;
        }
    }

    details>summary {
        list-style-type: "☞ ";
        letter-spacing: 2px;
    }

    // details>summary::-webkit-details-marker {
    //     display: none;
    // }

    .project_tags {
        color: #578372;
        font-size: 1.3rem;
        text-align: center;
        margin: 5px;
    }

    .project_button {
        margin-top: 5px;
        width: 8vw;
    }

    p {
        margin: 5px;
    }

}


#last {
    margin-bottom: 18vh;
}


.project_button {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 30px;
    padding: 3%;
    font-size: 1rem;
    border: none;
    margin-top: 2vh;
    background-color: $pewter;
}


// TOOLS

.tools {
    height: 40vh;

    .logos {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 5vh 0 10vh 0;

        img {
            height: 8vh;
            margin: 1%;
        }
    }
}

// EDUCATION

.education {
    display: flex;
    // border-radius: 30px;
    background-color: $cashmere;
    padding: 2vw;
    margin-top: 10vh;

    .edu_card {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: 3vw;
        // border-radius: 30px;
        padding: 3%;
        // box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    }
}


//  EMAIL


.email {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 10vh;
    padding-bottom: 10vh;
    background-color: $cashmere;

    .hello {
        display: flex;
        flex-direction: column;
        // align-content: center;
        align-items: center;
    }

    input,
    textarea {
        width: 30vw;
        font-size: 1.2rem;
        border: none;
        border: 1px solid $lily;
        border-radius: 5px;
        padding: 3%;
    }

    textarea {
        height: 12vh;
        font-family: Arial, Helvetica, sans-serif;
    }

    .email-send {
        padding: 2% 5% 2% 5%;
        border-radius: 25px;
        border: none;
        background-color: $voodoo;
        color: $lily;
        font-size: 1rem;

        ::placeholder {
            margin: 5px;
        }

    }

    ::placeholder {
        color: $voodoo;

    }

}

.footer {
    text-align: center;
    font-size: 1rem;
    background-color: $cashmere;
    color: $dark-pewter;
    padding: 3vh;

}