@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #503554;
}

/* visited link */
a:visited {
  color: #503554;
}

/* mouse over link */
a:hover {
  color: #d4b1c5;
}

/* selected link */
a:active {
  color: #d4b1c5;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.nav {
  width: 100vw;
  position: fixed;
  top: -2%;
  background-color: white;
  z-index: 100;
  letter-spacing: 0.3rem;
}

.nav ul {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  padding: 0 20% 0 20%;
}

.nav ul li {
  color: #503554;
  padding: 2%;
  border-radius: 50px;
  margin: -1%;
  list-style-type: none;
  font-size: 1.6rem;
}

#heading h2 {
  display: flex;
  justify-content: center;
  padding: 10vh 0 0vh 0;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 400;
}

.intro {
  height: 90vh;
  margin-top: 20vh;
}

.bio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  margin: 0 10% 0 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bio .img {
  background-image: url("./assets/images/WDFT_-_Jenn_Blunt.jpg");
  height: 40vh;
  width: 40vh;
  background-size: cover;
  border-radius: 250px;
  border: 3px solid #91a99c;
}

.bio .img:hover {
  background-image: url("./assets/images/jenn-and-hank.JPG");
}

.bio h1 {
  color: #536b5e;
  font-size: 2.5rem;
  margin-top: -1%;
}

.bio h2 {
  font-size: 1.4rem;
}

.bio .bio_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40vw;
  color: #536b5e;
  font-size: 1.5rem;
}

.bio #jenn-fact {
  width: 40vw;
  height: 5vh;
  margin: 0;
}

.bio button {
  padding: 2%;
  border-radius: 25px;
  border: solid 1px #e8caab;
  background-color: #e8caab;
  color: #503554;
  font-size: 1rem;
  margin-top: 4vh;
}

.projects {
  background-color: #91a99c;
}

.card-contaner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4%;
  height: 50vh;
}

.project-card img {
  height: 40vh;
  border-radius: 15px;
}

.project-card .project-details {
  position: relative;
  width: 32vw;
  text-align: center;
  top: 5%;
}

.project-card .project-details summary {
  font-size: 1.3rem;
  margin-bottom: 2%;
}

.project-card details > summary {
  list-style-type: "☞ ";
  letter-spacing: 2px;
}

.project-card .project_tags {
  color: #578372;
  font-size: 1.3rem;
  text-align: center;
  margin: 5px;
}

.project-card .project_button {
  margin-top: 5px;
  width: 8vw;
}

.project-card p {
  margin: 5px;
}

#last {
  margin-bottom: 18vh;
}

.project_button {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 30px;
  padding: 3%;
  font-size: 1rem;
  border: none;
  margin-top: 2vh;
  background-color: #91a99c;
}

.tools {
  height: 40vh;
}

.tools .logos {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 5vh 0 10vh 0;
}

.tools .logos img {
  height: 8vh;
  margin: 1%;
}

.education {
  display: flex;
  background-color: #e8caab;
  padding: 2vw;
  margin-top: 10vh;
}

.education .edu_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 3vw;
  padding: 3%;
}

.email {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 10vh;
  padding-bottom: 10vh;
  background-color: #e8caab;
}

.email .hello {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email input,
.email textarea {
  width: 30vw;
  font-size: 1.2rem;
  border: none;
  border: 1px solid #d4b1c5;
  border-radius: 5px;
  padding: 3%;
}

.email textarea {
  height: 12vh;
  font-family: Arial, Helvetica, sans-serif;
}

.email .email-send {
  padding: 2% 5% 2% 5%;
  border-radius: 25px;
  border: none;
  background-color: #503554;
  color: #d4b1c5;
  font-size: 1rem;
}

.email .email-send ::placeholder {
  margin: 5px;
}

.email ::placeholder {
  color: #503554;
}

.footer {
  text-align: center;
  font-size: 1rem;
  background-color: #e8caab;
  color: #536b5e;
  padding: 3vh;
}
