body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* unvisited link */
a:link {
  color: #503554;
}

/* visited link */
a:visited {
  color: #503554;
}

/* mouse over link */
a:hover {
  color: #d4b1c5;
}

/* selected link */
a:active {
  color: #d4b1c5;
}

.nav {
  width: 50vw;
  position: relative;
  left: 25%;
}

.nav ul {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
  padding: 0;
}

.nav ul li {
  color: #503554;
  padding: 2%;
  border-radius: 50px;
  margin: -1%;
  list-style-type: none;
  font-size: 1.6rem;
}

.intro {
  height: 80vh;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  margin: 0 10% 0 10%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bio .img {
  background-image: url("./assets/images/WDFT_-_Jenn_Blunt.jpg");
  height: 40vh;
  width: 40vh;
  background-size: cover;
  border-radius: 250px;
  border: 3px solid #91a99c;
}

.bio h1 {
  color: #536b5e;
  font-size: 2.5rem;
  margin-top: -1%;
}

.bio .bio_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40vw;
  color: #536b5e;
  font-size: 1.5rem;
}

.bio button {
  padding: 2%;
  border-radius: 25px;
  border: solid 1px #e8caab;
  background-color: #e8caab;
  color: #503554;
  font-size: 1rem;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3%;
  height: 50vh;
}

.project-card img {
  height: 40vh;
  border: solid 40px #91a99c;
  border-radius: 15px;
}

.project-card .mobile-version {
  height: 30vh;
  z-index: 100;
  border: none;
  position: relative;
  right: 50%;
  left: 50%;
}

.project-card .project-card__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  margin-top: 10%;
}

.project-card .project_tags {
  color: #578372;
  font-size: 1.3rem;
  text-align: center;
}

.project_button {
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 30px;
  padding: 3%;
  font-size: 1rem;
  border: none;
  margin-top: 2vh;
  background-color: #91a99c;
}

.game-board {
  width: 606px;
  height: 606px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #503554;
}

.square {
  border: solid 1px black;
  height: 200px;
  width: 200px;
}

.tools .logos {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tools .logos img {
  height: 8vh;
  margin: 1%;
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e8caab;
  padding: 2vw;
}

.education .edu_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin: 3vw;
  padding: 3%;
}
/*# sourceMappingURL=style.css.map */